<footer
  class="py-4 mx-24 border-t-[1px] border-border-fill flex gap-10 justify-between font-medium"
>
  <p class="text-skin-base">
    © <span id="spanYear">{{ year }}</span> Origins. Todos los derechos
    reservados.
  </p>
  <section class="flex gap-4 items-center">
    <link-and-icon [link]="link" *ngFor="let link of links"></link-and-icon>
  </section>
  <!-- <section class="grid mobile-l:grid-cols-2 w-full gap-7">
    <article class="flex flex-col gap-2">
      <p class="font-bold">Origins</p>
      <p>© <span id="spanYear">{{year}}</span> Todos los derechos reservados.</p>
      <p>Web realizada por Parque Roosevelt Inc.</p>
    </article>
    <article class="flex flex-col gap-3">
      <h3 class="font-medium">Contacto</h3>
      <ul class="flex flex-col gap-2">
        <li>
          <a class="text-skin-muted flex items-center gap-2" target="_blank" href="https://instagram.com">Instagram
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" fill="none"><path fill="#92A0B3" d="m8.5 6.613-1.13.007V1.94L1.313 8 .5 7.188 6.559 1.13l-4.672.008V0H8.5v6.613Z"></path></svg>
          </a>
        </li>
        <li>
        <a class="text-skin-muted flex items-center gap-2" target="_blank" href="mailto:parqueroosvelt.inc@gmail.com">Correo
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" fill="none"><path fill="#92A0B3" d="m8.5 6.613-1.13.007V1.94L1.313 8 .5 7.188 6.559 1.13l-4.672.008V0H8.5v6.613Z"></path></svg>
        </a>
      </li>
    </ul>
  </article>
</section> -->
</footer>
