<div
  *ngIf="optionSelected.state"
  class="fixed flex h-full w-full items-center justify-center bg-black bg-opacity-70 pb-10 z-50"
>
  <article
    *ngIf="optionSelected.type === 'main'"
    id="modal_account"
    class="transition-all relative text-skin-base bg-primary rounded-3xl gap-1 py-7 w-[460px] h-[290px] text-center px-8 flex flex-col items-center justify-center"
  >
    <button
      (click)="closeModal()"
      class="absolute top-4 right-5 self-end scale-75"
    >
      <mat-icon svgIcon="cross"></mat-icon>
    </button>
    <div class="flex flex-col w-full justify-center gap-8">
      <h2 class="text-skin-dark-button font-bold text-5xl">Crear</h2>
      <section class="flex gap-4 items-center justify-evenly">
        <div class="desktopModal_option">
          <button
            (click)="openEventModal()"
            class="rounded-xl w-20 h-20 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="event"></mat-icon>
          </button>
          <label class="text-xl font-semibold text-skin-dark-button"
            >Evento</label
          >
        </div>
        <div class="desktopModal_option">
          <button
            class="rounded-xl w-20 h-20 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="community"></mat-icon>
          </button>
          <p class="text-xl font-semibold text-skin-dark-button">Comunidad</p>
        </div>
        <div class="desktopModal_option">
          <button
            class="rounded-xl w-20 h-20 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="post"></mat-icon>
          </button>
          <p class="text-xl font-semibold text-skin-dark-button">Post</p>
        </div>
      </section>
    </div>
  </article>
  <article
    *ngIf="optionSelected.type === 'event'"
    id="modal_account"
    class="transition-all relative text-skin-base bg-primary rounded-3xl gap-1 py-10 w-[602px] h-[815px] text-center px-8 flex flex-col items-center"
  >
    <button
      (click)="closeModal()"
      class="absolute top-4 right-5 self-end scale-75"
    >
      <mat-icon svgIcon="cross"></mat-icon>
    </button>
    <form
      class="w-full h-full"
      [formGroup]="checkoutForm"
      (ngSubmit)="onSubmitEvent()"
      [ngSwitch]="steps"
    >
      <div
        *ngSwitchCase="0"
        class="flex flex-col items-center w-full h-full justify-between"
      >
        <h2 class="text-skin-dark-button font-bold text-4xl">Crea tu Evento</h2>
        <section
          class="overflow-hidden rounded-full h-24 w-24 bg-skin-fill flex items-center justify-center"
        >
          <label
            for="fileupload"
            class="w-full flex items-center justify-center"
          >
            <img
              [src]="url"
              [ngClass]="{
                customImg: url !== './assets/main_icons/gallery.svg'
              }"
              class="rounded-lg"
              alt=""
            />
          </label>
          <input
            (change)="onFileSelected($event)"
            formControlName="image"
            id="fileupload"
            type="file"
            class="hidden"
          />
        </section>
        <div class="flex w-full flex-col">
          <label
            for="event_name"
            class="block text-left mb-2 text-sm font-medium text-skin-dark-button"
            >Nombre del evento</label
          >
          <textarea
            formControlName="name"
            id="event_name"
            rows="2"
            maxlength="25"
            class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ingrese el nombre del evento..."
          ></textarea>
        </div>
        <div class="flex w-full flex-col">
          <label
            for="event_description"
            class="block text-left mb-2 text-sm font-medium text-skin-dark-button"
            >Descripción del evento</label
          >
          <textarea
            formControlName="description"
            id="event_description"
            rows="6"
            maxlength="400"
            class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ingrese la descripción del evento.."
          ></textarea>
        </div>
        <h2 class="text-skin-dark-button font-bold text-4xl">Fecha</h2>
        <div class="flex flex-row w-full justify-center items-center gap-4">
          <div class="bg-skin-fill rounded-xl p-2 h-full flex items-center">
            <input formControlName="date" type="date" class="h-full px-2" />
          </div>
          <div id="location_icon_container">
            <button
              type="button"
              class="rounded-xl w-14 h-14 flex items-center justify-center bg-skin-fill"
            >
              <mat-icon svgIcon="location"></mat-icon>
            </button>
          </div>
        </div>
        <div class="">
          <button
            (click)="goToRules()"
            type="button"
            class="rounded-xl w-14 h-14 flex items-center justify-center bg-button-muted"
          >
            <mat-icon svgIcon="check"></mat-icon>
          </button>
        </div>
      </div>
      <div
        *ngSwitchCase="1"
        class="rules_container items-center w-full h-full gap-12"
      >
        <div class="flex flex-col gap-12 items-center w-full">
          <h2 class="text-skin-dark-button font-bold text-4xl">
            Crea tus Reglas
          </h2>
          <section
            class="w-full flex flex-wrap gap-2 justify-center items-center"
          >
            <app-rules-button
              (changeCurrentRule)="showRule($event)"
              [rule]="rule"
              [currentRule]="content"
              *ngFor="let rule of rules"
            ></app-rules-button>
            <div *ngIf="this.rules.length != 9" class="desktopModal_option">
              <button
                (click)="addNewRule()"
                type="button"
                class="rounded-xl w-14 h-14 flex items-center justify-center bg-skin-fill"
              >
                <mat-icon svgIcon="add"></mat-icon>
              </button>
            </div>
          </section>
        </div>
        <div>
          <section class="w-full" [ngSwitch]="currentRule.number">
            <app-rule-number
              *ngSwitchCase="1"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
            <app-rule-number
              *ngSwitchCase="2"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
            <app-rule-number
              *ngSwitchCase="3"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
            <app-rule-number
              *ngSwitchCase="4"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
            <app-rule-number
              *ngSwitchCase="5"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
            <app-rule-number
              *ngSwitchCase="6"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
            <app-rule-number
              *ngSwitchCase="7"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
            <app-rule-number
              *ngSwitchCase="8"
              [content]="content"
              [currentRule]="currentRule"
            ></app-rule-number>
          </section>
        </div>
        <footer class="flex gap-5 w-full items-center justify-center">
          <button
            (click)="prevStep()"
            class="bg-button-muted rounded-xl w-14 h-14 flex items-center justify-center"
          >
            <mat-icon svgIcon="previous"></mat-icon>
          </button>
          <button
            class="bg-button-muted rounded-xl w-14 h-14 flex items-center justify-center"
          >
            <mat-icon svgIcon="check"></mat-icon>
          </button>
        </footer>
      </div>
    </form>
  </article>
</div>
