<div
  *ngIf="optionSelected.state"
  class="fixed flex h-full w-full items-center justify-center bg-black bg-opacity-70 pb-10 z-50"
>
  <article
    *ngIf="optionSelected.type === 'main'"
    id="modal_account"
    class="transition-all relative text-skin-base bg-primary rounded-3xl gap-1 py-7 w-[460px] h-[290px] text-center px-8 flex flex-col items-center justify-center"
  >
    <button
      (click)="closeModal()"
      class="absolute top-4 right-5 self-end scale-75"
    >
      <mat-icon svgIcon="cross"></mat-icon>
    </button>
    <div class="flex flex-col w-full justify-center gap-8">
      <h2 class="text-skin-dark-button font-bold text-5xl">Crear</h2>
      <section class="flex gap-4 items-center justify-evenly">
        <div class="desktopModal_option">
          <button
            (click)="openSectionModal('event')"
            class="rounded-xl w-20 h-20 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="event"></mat-icon>
          </button>
          <label class="text-xl font-semibold text-skin-dark-button"
            >Evento</label
          >
        </div>
        <div class="desktopModal_option">
          <button
            (click)="openSectionModal('community')"
            class="rounded-xl w-20 h-20 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="community"></mat-icon>
          </button>
          <p class="text-xl font-semibold text-skin-dark-button">Comunidad</p>
        </div>
        <div class="desktopModal_option">
          <button
            (click)="openSectionModal('post')"
            class="rounded-xl w-20 h-20 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="post"></mat-icon>
          </button>
          <p class="text-xl font-semibold text-skin-dark-button">Post</p>
        </div>
      </section>
    </div>
  </article>
  <app-create-event-menu
    *ngIf="optionSelected.type === 'event'"
  ></app-create-event-menu>
  <app-create-community
    *ngIf="optionSelected.type === 'community'"
  ></app-create-community>
  <app-create-post-menu
    [dataToModify]="dataToModify"
    *ngIf="optionSelected.type === 'post'"
  ></app-create-post-menu>
</div>
