.desktopModal_option button mat-icon{
    width: 40px;
    height: 40px;
}

#location_icon_container button mat-icon{
    width: 30px;
    height: 30px;
}

.desktopModal_option {
    @apply flex items-center flex-col gap-4;
}

.image_selector_container {
    @apply flex justify-center items-center bg-skin-fill rounded-full w-[104px] h-[104px];
}
.image_selector_container mat-icon {
    height: 40px;
    width: 40px;
}