<section
  class="flex text-primary font-semibold justify-between items-center gap-2 rounded-2xl w-full text-base"
>
  <button
    class="selected_button px-4 py-2 bg-skin-fill w-full rounded-xl justify-center items-center flex"
  >
    Usuario
  </button>
  <button
    class="px-4 py-2 bg-skin-fill w-full rounded-xl justify-center items-center flex"
  >
    Comunidad
  </button>
  <button
    class="px-4 bg-skin-fill w-full py-2 rounded-xl justify-center items-center flex"
  >
    Evento
  </button>
</section>
