<article class="bg-base-inverted rounded-3xl gap-6 py-4 w-[360px] text-center px-8 flex flex-col items-center justify-between">
  <mat-icon svgIcon="cross" class="bg-red-600 self-start"></mat-icon>
  <h1 class="text-3xl font-extrabold">
    {{title}}<span class="text-skin-inverted">{{coloredWord}}</span>{{lastCharacter}}
  </h1>
  <section class="flex flex-col gap-4 w-full font-semibold">
    <button class="flex justify-center py-3 w-full bg-base rounded-lg text-base-inverted">
      <mat-icon>G</mat-icon>
      Continuar con Google
    </button>
    <button class="py-3 w-full bg-skin-fill rounded-lg">Continuar con Email</button>
  </section>
  <p>Si no tienes una cuenta, <span class="font-bold">registrate.</span></p>
</article>
<button (click)="closeModal()" class="bg-red-600">close modal</button>