<article
  id="modal_account"
  class="transition-all relative text-skin-base bg-primary rounded-3xl gap-1 py-10 w-[602px] h-[815px] text-center px-8 flex flex-col items-center"
>
  <button
    (click)="closeModal()"
    class="absolute top-4 right-5 self-end scale-75"
  >
    <mat-icon svgIcon="cross"></mat-icon>
  </button>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="checkoutForm"
    class="w-full h-full"
  >
    <div class="flex flex-col items-center w-full h-full gap-9">
      <h2 class="text-skin-dark-button font-bold text-4xl">Crea tu Evento</h2>
      <section
        class="overflow-hidden rounded-full h-20 w-20 bg-skin-fill flex items-center justify-center"
      >
        <label
          for="fileupload"
          class="cursor-pointer flex items-center justify-center"
        >
          <img src="{{ imgUrl }}" class="rounded-lg" alt="" />
        </label>
        <input
          id="fileupload"
          (change)="onFileSelected($event)"
          type="file"
          class="hidden"
        />
      </section>
      <div class="flex w-full flex-col">
        <label
          for="event_name"
          class="block text-left mb-2 text-sm font-medium text-skin-dark-button"
          >Nombre del evento</label
        >
        <textarea
          onkeydown="return (event.keyCode!=13)"
          formControlName="nombre"
          id="event_name"
          rows="1"
          maxlength="20"
          class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Ingrese el nombre del evento..."
        ></textarea>
      </div>
      <div class="flex w-full flex-col">
        <label
          for="event_description"
          class="block text-left mb-2 text-sm font-medium text-skin-dark-button"
          >Descripción del evento</label
        >
        <textarea
          formControlName="descripcion"
          id="event_description"
          rows="6"
          maxlength="255"
          class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Ingrese la descripción del evento.."
        ></textarea>
      </div>
      <div class="flex flex-col w-full gap-4 pb-4">
        <div class="flex flex-row w-full items-center justify-between gap-6">
          <h2 class="text-skin-dark-button font-bold text-2xl">Fecha</h2>
          <div
            class="bg-skin-fill rounded-xl w-[280px] p-2 h-full flex items-center"
          >
            <input
              formControlName="fecha"
              type="date"
              class="w-[280px] h-full px-2"
            />
          </div>
          <!-- <div id="location_icon_container">
          <button
            type="button"
            class="rounded-xl w-14 h-14 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="location"></mat-icon>
          </button>
        </div> -->
        </div>
        <div class="flex flex-row w-full items-center justify-between gap-6">
          <h2 class="text-skin-dark-button font-bold text-2xl">Capacidad</h2>
          <div
            class="bg-skin-fill rounded-xl w-[280px] h-[42px] p-2 flex items-center"
          >
            <input
              formControlName="capacidad_evento"
              type="number"
              class="h-full w-[280px] px-2"
            />
          </div>
          <!-- <div id="location_icon_container">
          <button
            type="button"
            class="rounded-xl w-14 h-14 flex items-center justify-center bg-skin-fill"
          >
            <mat-icon svgIcon="location"></mat-icon>
          </button>
        </div> -->
        </div>
      </div>
      <div class="">
        <button
          class="rounded-xl px-4 h-14 flex gap-4 items-center justify-center bg-button-muted"
        >
          <span class="text-skin-dark-button font-semibold">Crear evento</span>
          <mat-icon svgIcon="check"></mat-icon>
        </button>
      </div>
    </div>
  </form>
</article>
