<article
  (click)="openEvent()"
  class="rounded-full cursor-pointer flex justify-between bg-skin-fill px-3 py-2 items-center"
>
  <img
    class="rounded-full object-cover w-[70px] h-[70px] min-h-[70px] min-w-[70px] max-w-[70px] max-h-[70px]"
    src="{{ imgUrl }}"
    width="70"
  />
  <div class="w-full px-4">
    <h3 class="font-semibold text-xl text-button-muted">
      e/{{ event?.nombre }}
    </h3>
    <div class="flex gap-2 items-center">
      <p class="text-button-muted line-clamp-1">{{ event?.descripcion }}</p>
      <!-- <span class="h-[3px] w-[3px] bg-button-muted rounded-full"></span> -->
      <!-- <p class="text-button-muted">participantes</p> -->
    </div>
  </div>
  <div class="px-5 icon-container">
    <mat-icon svgIcon="exploreEvents"></mat-icon>
  </div>
</article>
