<div class="w-full py-6 gap-4 flex flex-row items-center justify-between">
    <div class="header-buttons-container font-semibold rounded-md text-primary bg-skin-fill flex justify-between items-center">
      <button class="py-[8px] px-8">Comunidad</button>
      <hr class="bg-primary w-[2px] h-5 rounded-full" />
      <button class="py-[8px] px-8">Eventos</button>
    </div>
    <div class="header-buttons-container font-semibold rounded-md text-primary bg-skin-fill flex justify-between items-center">
        <button class="py-[8px] px-5 flex gap-2 justify-between items-center w-full">
            Filtrar Posts
            <mat-icon svgIcon="filters"></mat-icon>
        </button>
    </div>
    <div class="header-buttons-container font-semibold rounded-md text-primary bg-skin-fill flex justify-between items-center">
        <button class="py-[8px] px-5 flex justify-between gap-2 items-center w-full">
            Refrescar
            <mat-icon svgIcon="refresh"></mat-icon>
        </button>
    </div>
</div>