<div class="w-full py-6 gap-4 flex flex-row items-center justify-between">
  <section class="radio-toolbar bg-skin-fill">
    <input
      type="radio"
      id="radioPost"
      name="radioFruit"
      value="post"
      checked
      (change)="onItemChange($event.target)"
    />
    <label for="radioPost">Posts</label>
    <hr class="bg-button-muted w-[4px] h-5 rounded-full" />
    <input
      type="radio"
      id="radioComunidad"
      name="radioFruit"
      value="comunidad"
      (change)="onItemChange($event.target)"
    />
    <label for="radioComunidad">Comunidades</label>
    <hr class="bg-button-muted w-[4px] h-5 rounded-full" />
    <input
      type="radio"
      id="radioEventos"
      name="radioFruit"
      value="evento"
      (change)="onItemChange($event.target)"
    />
    <label for="radioEventos">Eventos</label>
  </section>
  <!-- <div class="header-buttons-container font-semibold rounded-lg text-primary bg-skin-fill flex justify-between items-center">
      <button class="py-[8px] px-8">Comunidad</button>
      <hr class="bg-primary w-[2px] h-5 rounded-full" />
      <button class="py-[8px] px-8">Eventos</button>
    </div> -->
  <!-- <div
    class="header-buttons-container font-semibold rounded-lg text-button-muted bg-skin-fill flex justify-between items-center"
  >
    <button
      class="py-[10px] px-5 flex gap-2 justify-between items-center w-full"
    >
      Filtrar Posts
      <mat-icon svgIcon="filters"></mat-icon>
    </button>
  </div> -->
  <div
    class="header-buttons-container font-semibold rounded-lg text-button-muted bg-skin-fill flex justify-between items-center"
  >
    <button
      (click)="refreshPosts()"
      class="py-[10px] px-5 flex justify-between gap-2 items-center w-full"
    >
      Refrescar
      <mat-icon svgIcon="refresh"></mat-icon>
    </button>
  </div>
</div>
