<article
  class="rounded-full flex justify-between bg-skin-fill pl-2 pr-4 py-2 items-center"
>
  <img
    (click)="goToCommunity()"
    class="cursor-pointer rounded-full object-cover w-[70px] h-[70px]"
    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
    alt="foto de perfil"
    width="70"
  />
  <div class="w-full mx-4">
    <h3
      (click)="goToCommunity()"
      class="font-semibold text-xl cursor-pointer w-fit text-button-muted"
    >
      {{ community.nombre }}
    </h3>
    <p (click)="goToCommunity()" class="w-fit cursor-pointer text-button-muted">
      {{ community.descripcion }}
    </p>
  </div>
  <button
    (click)="onClick()"
    class="text-lg px-8 ml-6 bg-primary rounded-full py-2 text-skin-dark-button"
  >
    Unirse
  </button>
</article>
