.radio-toolbar {
    @apply flex text-primary font-semibold justify-center items-center gap-2 rounded-2xl w-full text-base;
}
  
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
  
.radio-toolbar label {
    @apply px-6 py-3 bg-skin-fill rounded-xl justify-center items-center flex;
}

.radio-toolbar label:hover {
  @apply cursor-pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
    @apply bg-primary transition-all text-skin-dark-button;
}
  