<div *ngIf="mobile" class="bg-skin-fill-muted h-[100vh]">
  <app-header></app-header>
  <main
    class="flex flex-col items-center gap-6 px-4 py-4 bg-skin-fill-muted w-full"
  >
    <!-- <app-toggle-theme-button></app-toggle-theme-button> -->
    <div class="w-full flex items-center gap-1 rounded-xl bg-skin-fill px-4">
      <button class="flex items-center justify-center">
        <mat-icon svgIcon="search"></mat-icon>
      </button>
      <input
        autocomplete="off"
        class="rounded-xl px-4 py-3 transition-all w-full outline-none text-gray-800"
        placeholder="Buscar"
        [(ngModel)]="filterName"
        name="filterName"
      />
      <button>
        <p class="text-button-muted">Cancel</p>
      </button>
    </div>
    <section class="masonryLayoutContainer {{ this.showPosts }}"></section>
    <div class="{{ showOptions }} w-full">
      <app-specific-search></app-specific-search>
    </div>
  </main>
  <main-navbar></main-navbar>
</div>

<div *ngIf="!mobile" class="bg-skin-fill-muted h-[100%]">
  <desktop-upload-modal></desktop-upload-modal>
  <div class="sidebar-container h-[100%]">
    <desktop-sidebar></desktop-sidebar>
    <main class="flex flex-col px-[10%] ml-[92px] py-6 gap-6">
      <article class="w-full bg-skin-fill rounded-3xl">
        <header
          class="h-[145px] relative bg-primary w-full rounded-t-3xl"
        ></header>
        <section class="relative px-[5%] py-5 flex justify-center">
          <div
            class="rounded-full h-28 w-28 top-[-60px] bg-skin-button-hover-primary absolute"
          ></div>
        </section>
        <section class="flex flex-col items-center gap-4 px-7 py-7">
          <h1 class="font-bold text-center text-3xl">
            {{ user?.nickname }}
          </h1>
          <p class="text-center">
            {{ user?.user_info?.biografia }}
          </p>
          <button
            class="flex text-skin-dark-button w-fit justify-between gap-3 bg-primary rounded-2xl px-3 py-3"
          >
            Configurar
            <mat-icon svgIcon="settings"></mat-icon>
          </button>
        </section>
        <footer class="flex justify-center gap-8 pb-7">
          <div class="flex gap-3 justify-between items-center">
            <mat-icon svgIcon="community_filled"></mat-icon>
            <p>{{ user?.seguidor_count }}</p>
          </div>
          <div class="flex gap-3 justify-between items-center">
            <mat-icon svgIcon="heart_filled"></mat-icon>
            <p>{{ user?.siguiendo_count }}</p>
          </div>
          <div class="flex gap-3 justify-between items-center">
            <mat-icon svgIcon="event_filled"></mat-icon>
            <p>{{ post?.data?.length }}</p>
          </div>
        </footer>
      </article>
      <section class="radio-toolbar mb-8">
        <input
          type="radio"
          id="radioRecientes"
          name="radioFruit"
          value="recientes"
          checked
        />
        <label for="radioRecientes">Recientes</label>

        <input
          type="radio"
          id="radioPopulares"
          name="radioFruit"
          value="populares"
        />
        <label for="radioPopulares">Populares</label>
      </section>
      <section>
        <app-post
          class="w-full"
          [post]="post"
          *ngFor="let post of post?.data"
        ></app-post>
      </section>
    </main>
  </div>
</div>
