<nav class="px-8 w-full border-border-fill border-b-[1px]">
  <ul class="navbar_container flex py-3 items-center justify-between">
    <li class="first">
      <a routerLink="/">
        <img src={{logoUrl}} width="100" title="Logo de Origins" alt="Logo de Origins">
      </a>
    </li>
    <li (click)="updateLogo()" class="second flex justify-center items-center">
      <app-toggle-theme-button></app-toggle-theme-button>
    </li>
    <li (click)="openModal()" class="mobile-s:block hidden">
      <button class="bg-button-fill text-skin-dark-button w-full font-medium rounded-md px-4 py-2 bg-base-inverted">Iniciar Sesión</button>
    </li>
  </ul>
</nav>