.masonryLayoutContainer {
    padding: 20px 0;
    columns: 4;
    column-gap: 15px;
    width: 100%;
}


@media (max-width: 750px){
    .masonryLayoutContainer {
        padding: 0;
        columns: 2;
    }
}

@media (max-width: 1110px){
    .masonryLayoutContainer {
        padding: 0;
        columns: 3;
    }
}

.hiddenContainer {
    display: none;
    /* animation: fade-out .5s forwards; */
}

.visibleContainer {
    display: block;
}

@keyframes fade-out {
    to {
        display: none;
        opacity: 0;
    }
}