<app-nav-bar/>
<section class="px-8 py-20 gap-6 flex flex-col justify-center items-center">
  <hr class="w-full border-[#2F2F2F]">
  <section class="flex gap-6">
    <app-info-item [item]="item" *ngFor="let item of infoItems"></app-info-item>
  </section>
  <hr class="w-full border-[#2F2F2F]">
  <h2 class="text-5xl font-bold text-center px-20"><span class="text-6xl text-skin-inverted tracking-tighter">Conoce </span>personas de todo el <span class="text-6xl text-skin-inverted"> globo</span></h2>
</section>
<app-footer/>