<div class="w-full flex flex-col gap-4">
  <h2>Number: {{ currentRule.number }}</h2>
  <p>Name: {{ currentRule.name }}</p>
  <p>Content: {{ currentRule.content }}</p>
  <!-- <div class="flex w-full flex-col">
    <label
      for="rule_name"
      class="block text-left mb-2 text-sm font-medium text-skin-dark-button"
      >Nombre de la regla</label
    >
    <textarea
      formControlName="name"
      id="rule_name"
      rows="2"
      maxlength="25"
      class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Ingrese el nombre de la regla..."
    ></textarea>
  </div>
  <div class="flex w-full flex-col">
    <label
      for="rule_description"
      class="block text-left mb-2 text-sm font-medium text-skin-dark-button"
      >Descripción de la regla</label
    >
    <textarea
      formControlName="description"
      id="rule_description"
      rows="6"
      maxlength="400"
      class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Ingrese la descripción de la regla.."
    ></textarea>
  </div> -->
</div>
