<div class="bg-skin-fill-muted h-[100vh]">
  <app-header></app-header>
  <main class="flex flex-col items-center gap-6 px-4 py-4 bg-skin-fill-muted w-full">
    <app-toggle-theme-button></app-toggle-theme-button>
    <section class="flex bg-skin-fill text-primary font-semibold px-2.5 py-[12px] justify-between items-center gap-2 rounded-2xl w-full text-lg">
      <button class="selected_button w-[121px] h-[45px] rounded-xl justify-center items-center flex">Todo</button>
      <button class="w-[121px] h-[45px] rounded-xl justify-center items-center flex">Seguidos</button>
      <button class="w-[121px] h-[45px] rounded-xl justify-center items-center flex">Descubrir</button>
    </section>
    <app-post class="w-full" [post]="post" *ngFor="let post of postsList"></app-post>
  </main>
  <main-navbar></main-navbar>
</div>