.selected_button {
  color: var(--color-dark-button);
  background-color: var(--color-primary);
}

.sidebar-container {
  display: grid;
  grid-template-columns: auto auto;
}

.sidebar-container main {
  max-width: 80%;
}