<div *ngIf="mobile" class="bg-skin-fill-muted h-[100vh]">
  <app-header></app-header>
  <main
    class="flex flex-col items-center gap-6 px-4 py-4 bg-skin-fill-muted w-full"
  >
    <!-- <app-toggle-theme-button></app-toggle-theme-button> -->
    <section
      class="flex bg-skin-fill text-primary font-semibold px-2.5 py-[12px] justify-between items-center gap-2 rounded-2xl w-full text-lg"
    >
      <button
        class="selected_button w-[121px] h-[45px] rounded-xl justify-center items-center flex"
      >
        Todo
      </button>
      <button
        class="w-[121px] h-[45px] rounded-xl justify-center items-center flex"
      >
        Seguidos
      </button>
      <button
        class="w-[121px] h-[45px] rounded-xl justify-center items-center flex"
      >
        Descubrir
      </button>
    </section>
    <app-post
      class="w-full"
      [post]="post"
      *ngFor="let post of postsList"
    ></app-post>
  </main>
  <main-navbar></main-navbar>
</div>

<div *ngIf="!mobile" class="bg-skin-fill-muted h-[100%]">
  <section
    class="h-[10px] w-[10px] bg-red-500 rounded-full absolute right-0 top-0"
  ></section>
  <desktop-upload-modal></desktop-upload-modal>
  <div class="sidebar-container h-[100%]">
    <desktop-sidebar></desktop-sidebar>
    <main class="relative flex flex-col ml-[92px]">
      <section
        *ngIf="showLikes"
        class="sticky top-0 bg-button-muted py-11 w-full px-[15%] h-[100vh] z-50"
      >
        <header class="flex justify-center">
          <button (click)="cerrarLikes()">
            <mat-icon svgIcon="arrow_down"></mat-icon>
          </button>
        </header>
        <div class="my-12 flex flex-col items-center justify-center">
          <h1 class="font-semibold text-4xl text-skin-dark-button">Likes</h1>
        </div>
        <section>
          <h2
            *ngIf="postLikes.length === 0"
            class="text-center font-medium text-skin-dark-button text-2xl"
          >
            Aun no hay likes
          </h2>
          <app-post-user-card
            [like]="like"
            *ngFor="let like of postLikes"
          ></app-post-user-card>
        </section>
      </section>
      <div class="px-[10%]">
        <filters-header></filters-header>
        <section [ngSwitch]="feedFilter" class="flex flex-col gap-9 pb-8">
          <section class="flex flex-col gap-6" *ngSwitchCase="'post'">
            <app-post
              class="w-full"
              [post]="post"
              *ngFor="let post of postsList"
            ></app-post>
          </section>
          <section *ngSwitchCase="'comunidad'">
            <div class="flex w-full justify-center py-6">
              <mat-icon
                class="customIconSize"
                svgIcon="exploreCommunity"
              ></mat-icon>
            </div>
            <div class="flex flex-col gap-8">
              <app-feed-comunity
                [community]="com"
                *ngFor="let com of communitiesList"
              ></app-feed-comunity>
            </div>
          </section>
          <section *ngSwitchCase="'evento'">
            <div class="flex w-full justify-center py-6">
              <mat-icon
                class="customIconSize"
                svgIcon="exploreEvents"
              ></mat-icon>
            </div>
            <h2 *ngIf="!eventsList" class="text-center font-medium text-2xl">
              Aun no hay eventos
            </h2>
            <div class="flex flex-col gap-8">
              <app-feed-events [event]="ev" *ngFor="let ev of eventsList">
              </app-feed-events>
            </div>
          </section>
        </section>
      </div>
    </main>
  </div>
</div>
