<article
  class="flex flex-col gap-4 justify-between h-[540px] bg-skin-fill py-6 px-7 rounded-2xl"
>
  <section class="flex w-full">
    <article class="post_types_scroller gap-3">
      <a
        class="flex gap-4 items-center justify-center"
        [routerLink]="['/user', post?.user?.id]"
      >
        <div
          class="scroller-item h-14 w-14 bg-primary rounded-full flex justify-center items-center"
        >
          <img src="{{ post?.user?.foto_perfil }}" />
        </div>
        <p class="text-lg font-medium">{{ post?.user?.nickname }}</p>
      </a>
    </article>
  </section>
  <div class="">
    <h2 class="text-3xl break-words font-extrabold tracking-tighter">
      {{ post.text[0]?.titulo }}
    </h2>
  </div>
  <div class="my-4 post_text_container">
    <p class="tracking-tighter">
      {{
        post.text[0]?.descripcion ||
          "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam eius voluptatibus, quos, quam fugit voluptatum id repellendus placeat ipsam dolore enim quaerat saepe ab, mollitia necessitatibus est repellat natus."
      }}
    </p>
  </div>
  <footer class="post_footer flex justify-center gap-10 items-center">
    <section class="relative grid grid-rows-1 gap-2 items-center">
      <button
        (click)="reportPost()"
        *ngIf="showOptions"
        class="shadow-md absolute text-skin-dark-button bg-primary px-4 py-2 rounded-xl top-[-50px] left-[-20px]"
      >
        Reportar
      </button>
      <button (click)="onToggleOptions()" class="options_post">
        <mat-icon svgIcon="options"></mat-icon>
      </button>
      <span class="text-center text-primary invisible font-semibold">0</span>
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button class="options_post">
        <mat-icon svgIcon="send"></mat-icon>
      </button>
      <span class="text-center text-primary invisible font-semibold">0</span>
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button (click)="likeAction()" class="options_post">
        <mat-icon
          *ngIf="!isLiked"
          class="customIconSize"
          svgIcon="heart"
        ></mat-icon>
        <mat-icon
          *ngIf="isLiked"
          class="customIconSize"
          svgIcon="heart_liked"
        ></mat-icon>
      </button>
      <button
        (click)="showLikes()"
        class="cursor-pointer hover:text-primary text-center text-skin-base font-semibold"
      >
        {{ post.like_count }}
      </button>
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button class="options_post">
        <mat-icon svgIcon="comments"></mat-icon>
      </button>
      <span
        class="cursor-pointer hover:text-primary text-skin-base text-center font-semibold"
        >{{ post.comment.length }}</span
      >
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button class="options_post">
        <mat-icon svgIcon="save"></mat-icon>
      </button>
      <span class="text-center text-primary invisible font-semibold">0</span>
    </section>
  </footer>
</article>
