<article
  class="flex flex-col gap-4 justify-between h-[733px] bg-skin-fill py-6 px-7 rounded-2xl"
>
  <section class="flex w-full">
    <header class="flex justify-between w-full">
      <section class="flex items-center">
        <a
          [routerLink]="['/user', post?.user?.id]"
          class="transition-all rounded-full flex flex-col items-center justify-center bg-primary h-[50px] w-[50px]"
        >
          <img
            class="rounded-full"
            src="http://localhost:8000/images/{{ imageName }}"
            alt=""
          />
        </a>
      </section>
      <section class="flex items-center h-[80px] w-full">
        <div *ngIf="postContent.picture" class="flex items-center">
          <hr class="text-skin-dark-button bg-primary w-[20px] h-[4px]" />
          <button
            (click)="selectImage()"
            class="transition-all rounded-full flex items-center justify-center bg-primary {{
              selectedOption.gallery.iconSize
            }}"
          >
            <mat-icon svgIcon="gallery_white"></mat-icon>
          </button>
        </div>
        <div *ngIf="postContent.text" class="flex items-center">
          <hr class="text-skin-dark-button bg-primary w-[20px] h-[4px]" />
          <button
            (click)="selectText()"
            class="transition-all rounded-full flex items-center justify-center bg-primary {{
              selectedOption.text.iconSize
            }}"
          >
            <mat-icon svgIcon="text_white"></mat-icon>
          </button>
        </div>
      </section>
    </header>
  </section>
  <div *ngIf="selectedOption.text.state">
    <div class="">
      <h2 class="text-3xl break-words font-extrabold tracking-tighter">
        {{ post.text[0]?.titulo }}
      </h2>
    </div>
    <div class="my-4 post_text_container">
      <p class="tracking-tighter break-words">
        {{
          post.text[0]?.descripcion ||
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam eius voluptatibus, quos, quam fugit voluptatum id repellendus placeat ipsam dolore enim quaerat saepe ab, mollitia necessitatibus est repellat natus."
        }}
      </p>
    </div>
  </div>
  <div class="flex gap-2" *ngIf="selectedOption.gallery.state">
    <div
      class="bg-cover bg-center bg-no-repeat overflow-hidden bg-skin-fill-muted h-[473px] flex justify-center items-center rounded-3xl w-full"
      style="background-image: url({{ postImageUrl }});"
    >
      <!-- <img
        class="object-contain w-full"
        src="http://localhost:8001/images/{{ postImageName }}"
        alt=""
      /> -->
    </div>
    <!-- <div
      class="rounded-3xl bg-skin-fill-muted flex flex-col gap-4 items-center justify-center px-8"
    >
      <mat-icon class="customLocationSize" svgIcon="location"></mat-icon>
      <p class="font-medium text-center text-primary text-lg">
        Barcelona España
      </p>
    </div> -->
  </div>
  <footer class="post_footer flex justify-center gap-8 pt-3 items-center">
    <section class="relative grid grid-rows-1 gap-2 items-center">
      <button
        (click)="reportPost()"
        *ngIf="showOptions"
        class="shadow-md absolute text-skin-dark-button bg-primary px-4 py-2 rounded-xl top-[-50px] left-[-20px]"
      >
        Reportar
      </button>
      <button (click)="onToggleOptions()" class="options_post">
        <mat-icon svgIcon="options"></mat-icon>
      </button>
      <span class="text-center text-primary invisible font-semibold">0</span>
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button class="options_post">
        <mat-icon svgIcon="send"></mat-icon>
      </button>
      <span class="text-center text-primary invisible font-semibold">0</span>
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button (click)="likeAction()" class="options_post">
        <mat-icon
          *ngIf="!isLiked"
          class="customIconSize"
          svgIcon="heart"
        ></mat-icon>
        <mat-icon
          *ngIf="isLiked"
          class="customIconSize"
          svgIcon="heart_liked"
        ></mat-icon>
      </button>
      <button
        (click)="showLikes()"
        class="cursor-pointer hover:text-primary text-center text-skin-base font-semibold"
      >
        {{ post.like_count }}
      </button>
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button class="options_post">
        <mat-icon svgIcon="comments"></mat-icon>
      </button>
      <span
        class="cursor-pointer hover:text-primary text-skin-base text-center font-semibold"
        >{{ post.comment.length }}</span
      >
    </section>
    <section class="grid grid-rows-1 gap-2 items-center">
      <button class="options_post">
        <mat-icon svgIcon="save"></mat-icon>
      </button>
      <span class="text-center text-primary invisible font-semibold">0</span>
    </section>
  </footer>
</article>
