@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

:root {
  font-family: "Inter";
}

.dark-mode {
  background-color: #2e2e2e;
  transition: all 1s;
}

.light-mode {
  background-color: #eef2ff;
  transition: all 1s;
}

@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #8c8c8c;
    --color-text-inverted: #05a0e5;
    --color-fill: #51b4ff;
    --color-gradient-end: #e81cff;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #3882ea;
  }
  /* .theme-orange {
  } */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
